@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeutraBold";
  src: local("NeutraBold"),
   url("./fonts/NeutraDisplay/NeutraText-Bold.ttf") format("truetype");
  font-weight: bold;
  }

body {
  margin: 0;
  font-family: "Open Sans", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
